<!DOCTYPE html>
<html>
<head>
  <base href="{{compiler.publicPath}}">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />
  {{#if compiler.isProduction}}
  <link rel="stylesheet" href="{{compiler.hash}}.css">
  {{/if}}
</head>
<body>
  <div class="inverter">
    <div class="controller-wrapper"><div id="controller"></div></div>
    <div id="letterlog"></div>
    <canvas id="app"></canvas>
  </div>
  <script src="{{compiler.hash}}.js"></script>
</body>
</html>